body {
    text-align: center;
}

main {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

input {
    margin: 8px 0;
    padding: 12px 20px;
    color: black;
    font-size: 15px;
    font-family: 'Abel', sans-serif;
    vertical-align: top;
    height: 60px;
    width: 40%;
}

.emerald-flat-button {
    width: 10%;
    height: 60px ;
    clear: both !important;
    opacity: 1 !important;
    font-family: 'Abel', sans-serif !important;
    padding: 0 ;
    font-size: 25px ;
    color: white !important;
    text-align: center !important;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) !important;
    background: #2ecc71 !important;
    border: 0 !important;
    border-bottom: 2px solid #28be68 !important;
    cursor: pointer !important;
    -webkit-box-shadow: inset 0 -2px #28be68 !important;
    box-shadow: inset 0 -2px #28be68 !important;
    transition: all 0.3s ease 0s !important;
}

.emerald-flat-button.filling {
    width: 25%;
}

.emerald-flat-button.inline {
    margin: 0;
    width: auto;
    height: auto;
    font-size: inherit;
    padding: 2px;
}

.emerald-flat-button:hover {
    opacity: 0.75 !important;
}

.emerald-flat-button:active {
    top: 1px !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

input[type="text"].filling {
    width: 50%;
}

input.inline {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    width: auto;
}

input[type="number"].inline {
    width: 30px;
    display: inline;
    vertical-align: middle;
}

pre {
    text-align: left;
    background-color: #f0f0f0;
}

code {
    background-color: #f0f0f0;
}

h2 {
    font-size: x-large !important;
    font-style: oblique !important;
}

p.inline {
    vertical-align: middle;
}

textarea {
    width: 60%;
    height: 400px;
    margin-bottom: 10px;
    border: 5px solid #cccccc;
    padding: 5px;
    font-family: 'Abel', sans-serif;
    background: no-repeat bottom right;
    font-size: 18px;
    line-height: 150%;
}

#step1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: block;
}

#step2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: none;
}

#step3 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: none;
}

#done {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: none;
}

